* {
    box-sizing: border-box;
    -fx-margin: 0;
    -fx-padding: 0;
}

.btn {
    -fx-background-color:  #232931;
    -fx-text-fill: #EEE;
    -fx-cursor: hand;
    -fx-font: bold normal 14px "Leelawadee UI";
    -fx-border-color: #EEE;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-border-style: solid;
    -fx-padding: 5px 10px;
    -fx-margin: 5px;
    -fx-border-insets: 0;
    -fx-border-outsets: 0;
    -fx-background-insets: 0;
    -fx-background-radius: 5px;
    -fx-pref-width: 80px;
}

.btn:hover {
    -fx-background-color:   #393E46;
    -fx-border-color: #4ECCA3;
}

.btn:pressed {
    -fx-background-color: #4ECCA3;
    -fx-border-color: #4ECCA3;
}

#headerAnchor {
    -fx-height: 50px;
}

.mainCBBox {
    -fx-background-color: #232931;
    -fx-text-fill: #EEE;
    -fx-font: bold normal 12px "Leelawadee UI";
    -fx-border-color: #232931;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-padding: 2px 10px;
    -fx-margin: 5px;
    -fx-border-insets: 0;
    -fx-border-outsets: 0;
    -fx-background-insets: 0;
    -fx-pref-width: 150px;
    -fx-cursor: hand;
}

.mainCBBox .list-cell {
    -fx-background-color: #232931;
    -fx-text-fill: #EEE;
    -fx-font: bold normal 12px "Leelawadee UI";
    -fx-width: inherit;
    -fx-cursor: hand;
    -fx-padding: 4px 10px;
    -fx-border-insets: 0;
    -fx-border-outsets: 0;
    -fx-background-insets: 0;
    box-sizing: border-box;
}

.mainCBBox .list-cell:hover {
    -fx-background-color: #4ECCA3;
    -fx-text-fill: #EEE;
}

.combo-box-base:hover {
    -fx-border-color: #4ECCA3;
}

.textPart {
    -fx-margin-top: 50px;
    -fx-text-alignment: justify;
}

.textPart .textLine {
    -fx-text-fill: #EEE;
    -fx-font: bold normal 20px "Leelawadee UI";
    -fx-padding: 2px 10px;
    -fx-margin: 20px 5px;
    -fx-pref-width: 150px;
}

.textPart .textJoinUs {
    -fx-text-fill: #4ECCA3;
    -fx-font: bold normal 30px "Leelawadee UI";
    -fx-start-margin: 100px;
}

