 *{
    -fx-margin:0;
    -fx-padding:0;
    -fx-box-sizing: border-box;
    box-sizing: border-box;
}

.button {
    -fx-background-color:  #4ECCA3;
    -fx-text-fill: #EEE;
    -fx-padding:0px 0px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-box-sizing: border-box;
    -fx-border-insets: 0;
    -fx-border-outsets: 0;
    -fx-background-insets: 0;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-pref-width: 60px;
 }

.button:hover {
    -fx-background-color:  #2B333D;
    -fx-text-fill: #EEE;
    -fx-border-width: 1px;
    -fx-border-color: #EEE;
    -fx-border-style: solid;
 }

.button:pressed {
    -fx-background-color:  #393E46;
    -fx-text-fill: #EEE;
    -fx-border-width: 1px;
    -fx-border-color: #4ECCA3;
    -fx-border-style: solid;
 }

 .combo-box {
    -fx-background-color:  #232931;
    -fx-color: #EEE;
    -fx-padding:0px 10px;
    -fx-font-weight: bold;
    -fx-alignment: center;
    color: #EEE;
     -fx-pref-width: 60px;
     -fx-cursor: hand;
 }

 .combo-box .list-cell {
    -fx-color: #EEE;
    -fx-background-color:  #232931;
    -fx-width: inherit;
    -fx-alignment: center;
    -fx-text-fill: #EEE;
    -fx-font-weight: bold;
    color: #EEE;
     -fx-cursor: hand;
 }

.combo-box .list-cell:hover {
    -fx-background-color:  #4ECCA3;
    -fx-text-fill: #EEE;
}

 .table-view{
    -fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: #232931;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: #EEE;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: #EEE;
    -fx-alignment: center;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #393E46;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #2B333D;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:selected .table-cell {
    -fx-text-fill: #4ECCA3;
    -fx-border-color: #EEE;
}

.table-row-cell:selected {
    -fx-background-color: #232931;
}
