.tableContent {
       -fx-alignment: center;
}

.button {
       -fx-background-color:  #2196f3;
       -fx-text-fill: #ffffff;
}

.tableContent text {
        -fx-text-fill: #ffffff;
}

.table-view .column-header .label{
        -fx-text-fill: #ffffff;
        -fx-background-color: #1976d2;
}

.table-view {
        -fx-background-color: #2196f3; 
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb{
        -fx-background-color:  linear-gradient(to bottom, rgba(33,150,243,1) 0%, rgba(255,255,255,1) 100%);
    }
    .table-view .virtual-flow .scroll-bar:horizontal .thumb {
        -fx-background-color:  linear-gradient(to right, rgba(33,150,243,1) 0%, rgba(255,255,255,1) 100%);
    }

#tvDoctor {
        -fx-background-color:  #1976d2;
}
